[submodule "verifier-stub"]
	path = verifier-stub
	url = ../../psyco/verifier-stub
[submodule "dse"]
	path = dse
	url = ../../psyco/dse.git
[submodule "spout"]
	path = spout
	url = ../../psyco/gdart.git
	branch = gdart-min-21.2.0
