[submodule "verifier-stub"]
	path = verifier-stub
	url = https://github.com/tudo-aqua/verifier-stub.git
[submodule "dse"]
	path = dse
	url = https://github.com/tudo-aqua/dse.git
	branch = witness
[submodule "spout"]
	path = spout
	url = https://github.com/tudo-aqua/spout.git
	branch = witnesses
